<%- include('./partials/openhead') %>
    <!-- if es6 supported, enhance -->
    <script src="./scripts/index.mjs" type="module" defer></script>

</head>
<body>

<main>
    <form action="/create" method="POST">
        <input type="hidden" name="fromForm" value="true"/>
        <input type="number" placeholder="Id" name="id" readonly />
        <input type="text" placeholder="Name" name="name" />
        <input type="email" placeholder="Email" name="email" />
        <span>
            <input type="submit" value="submit" />
        </span>
    </form>
</main>

<ul class="entries">

</ul>

<a class="unenhanced" href="/read">Read entries</a>
<%- include('./partials/foot') %>
